<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 日志文件目录 -->
    <property name="LOG_PATH" value="logs"/>
    <!-- 日志文件名称 -->
    <property name="LOG_NAME" value="base-user-alarm"/>

    <include resource="com/shsnc/api/core/logback/defaults.xml"/>

    <!-- 所有日志 Appender -->
    <include resource="com/shsnc/api/core/logback/file-appender.xml"/>

    <!-- ERROR日志 Appender -->
    <include resource="com/shsnc/api/core/logback/file-error-appender.xml"/>

    <!-- 请求日志 Logger -->
    <include resource="com/shsnc/api/core/logback/file-request-logger.xml"/>

    <!-- SQL日志 Logger -->
    <include resource="com/shsnc/api/core/logback/file-sql-logger.xml"/>

    <logger name="com.shsnc" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
        <appender-ref ref="FILE_ERROR" />
    </logger>

    <root level="WARN">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
        <appender-ref ref="FILE_ERROR" />
    </root>

</configuration>


